@import "../dependencies/monoSnippets/lib.monoSnippets.reset";
@import "../dependencies/monoSnippets/lib.monoSnippets";





@mixin fontface ($family, $baseName, $svgPartName: "") {

	@font-face {
	
		font-family: $family;
		src: url("#{$baseName}.eot");
		src: local("☺"),
		url("#{$baseName}.woff") format("woff"),
		url('#{$baseName}.ttf') format('truetype'),
		url("#{$baseName}.otf") format("opentype"),
		url("#{$baseName}.svg##{$svgPartName}") format("svg");
	
	}

}





@include fontface("Vegur", "font.vegur.regular.0.602", "webfontIZdVxNMP");
@include fontface("Vegur Light", "font.vegur.light.0.602", "webfontaLJqQT5b");
@include fontface("Vegur Bold", "font.vegur.bold.0.602", "webfontB11v4HvZ");
@include fontface("Vegur Medium", "font.vegur.medium.0.602", "webfont2Rsn4maG");

body {

	background: rgb(245, 245, 245);
	text-rendering: optimizeLegibility;

}

@-webkit-keyframes backgroundAnimation {

	0% {
	
		background: rgb(240, 240, 240);
		
	}
	
	50% {
	
		background: rgb(235, 235, 235);
		
	}
	
	100% {
	
		background: rgb(240, 240, 240);
		
	}
	
}





.bounding {

	@include borderRadius(2px);
	background: white;
	
	@include boxShadow(rgba(0, 0, 0, .15), 0px, 2px, 4px);
	
	padding: 8px;
	margin: 16px 0px;

}





body {

	font-family: "Lucida Grande", "Lucida Sans Unicode", "Helvetica", "Arial", sans-serif;
	
	margin-left: 72px;
	margin-right: 72px;
	
	font-size: 13px;
	line-height: 18px;
	
	& > *:last-child {
	
	//	background: red;
	
	}
	
	> * {
	
		min-width: auto;
		max-width: 8 * 72px;
		margin: 0 auto;
	
	}
	
	> h1 {
	
	//	display: block; 
	
		@include textReplacement;
		height: 3 * 18px;
		width: 100%;
		
	//	display: block;
		
	//	@include size(6 * 18px, 3 * 18px);
	
		background-image: url(logotype.web.png);
		background-color: transparent;
	
		position: relative;	
		left: -18px;
		margin-top: 36px;
		margin-bottom: 9px;

		background-position: -1px 0px;
		
		background-position-x: -1px;
		background-position-y: 0px;
		background-repeat: no-repeat;
		
		a {
		
			display: block;
			@include size(100%, 3 * 18px);
			background: transparent;
			
			&:hover {
			
				background: transparent;
			
			} 
		
		}
			
	}
	
	@include transition1(.25s, margin);  
	
	padding-bottom: 36px;

}





.description {

	font-family: "Georgia", serif;
	font-style: italic;
	font-size: 85%;
	
	h1 + & {
	
		display: block;
		text-align: right;
		margin-top: -27px + 2px;
		color: rgb(200, 200, 200);
	
	}

}





h2 {

	font-family: "Helvetica", "Arial", sans-serif;
	font-weight: normal;
	font-size: 16px;
	color: rgb(128, 128, 128);
	margin-top: 36px;
	text-indent: -1px;
	text-shadow: rgba(255, 255, 255, .75) 0px 1px 0px;
	
}

hr {

	margin: 8px auto 8px auto;
	border: none;
	height: 1px;
	background: #BBB;

}

h3 {

	margin-top: 27px;
	color: rgb(255 * .35, 255 * .35, 255 * .35);

}

p {

	margin-top: 18px;
	font-size: 13px;
	color: rgb(256 * .4, 256 * .4, 256 * .4);

}





ul {

	margin-top: 18px;

	li {
	
		display: table;
		width: 100%;
		
		+ li {
		
			margin-top: 18px;
		
		}
		
		> * {
		
			display: table-cell;
		
		}
		
	}
	
	&.wide {
	
		background: rgba(0, 0, 0, .05);
		border: 1px solid rgba(0, 0, 0, .125);
		padding: 4px;
		max-width: 8 * 72px - 2 * 4px;
		@include borderRadius(8px); 
	
		li {
				
			display: inline-block;
			
			a > * {
				display: block;
				width: auto;
			}
			& a, & a > * {
				text-align: center;
				margin: 0;
				padding: 0;
			}
			
			p { font-size: 9px; }
			a { display: inline; background: none; }
			h3 { font-size: 120%; line-height: 1.2; margin-top: 2px; }
			a > img { display: inline;}
			
			width: 30%;
			
			> a {
				@include borderRadius(4px); 
				padding: 10px 8px 6px 8px;
				&:hover {
					background: rgba(0, 0, 0, .02);
					@include boxShadow(rgba(0, 0, 0, .125), 0px, 0px, 2px);
				}
			}
		
		}
	
	}

	h3 {

 		width: 216px - 18px;
		text-align: right;
		padding-right: 18px;
		
		margin-top: 0px;
					
	}
	
	section.contents {
	
		@include everyone(box-flex, 1);
		
		p {
		
			margin-top: 0px;
		
		}
	
	}
	
	p.aside {
	
		font-size: 75%;
	
	}
	
	+ h3 {
	
		margin-top: 27px;
	
	}
	

}





a {

	background: rgba(0, 0, 0, .05);
	padding-left: 2px;
	padding-right: 2px;
	margin-left: -2px;
	margin-right: -2px;
	
	&:hover {
	
	background: rgba(0, 0, 0, .1);
	
	}
	
	@include borderRadius(2px); 

}





@media screen and (-webkit-min-device-pixel-ratio: 2) {

	body > h1 {
	
		@include size(6 * 18px, 3 * 18px);
		margin-left: 0px;
	
		background-image: url("logotype.web@2x.png");
		@include everyone(background-size, 100%);
		
	//	background-position-x: -2px;
	//	background-position-y: 0px;
	
	}
	
}





@media all and (max-width: 320px) {
	
	p.description {
	
		h1 + & {
		
			display: none;
		
		}
	
		text-align: center !important;
		margin-top: 0px;
		width: 100%;
	
	}

}

@media all and (max-width: 720px) {

	body {
	
		> * {
	
			min-width: auto;
		
		}
		
		margin-left: 32px;
		margin-right: 32px;
	
	}
	
	h1 + .description {
	
		display: block;
		width: auto;
		margin-top: 0px;
		text-align: left;
	
	}
	
	ul li {
	
		display: block;
	
	}
	
	ul section.contents {
	
		@include everyone(box-flex, none);
	
	}
	
	ul h3 {
	
		display: block;
		width: auto;
		margin-right: 0px;
		text-align: left;
	
	}
	
	h2 + ul li h3 {
	
		margin-top: 18px;
	
	}

}





/*
nav {

	ul {
	
		display: block;
		width: 100%;
		text-align: center;
	
	}

	li {
	
		@include inlineBlock;
		
		+ li:before {
		
			@include pseudoBlock;
			@include inlineBlock;
			
			width: 2em;
			text-align: center;
			
			content: " | "; 
		
		}
	
	}

}
*/

body > footer {

	height: 64px;
	position: absolute;
	bottom: 0px;

	border-top: 1px solid rgb(200, 200, 200);
	
	font-family: "Helvetica", "Arial", sans-serif;
	font-size: 11px;
	text-transform: uppercase;
	font-weight: bold;
	line-height: 12px;
	
	color: gray;

}





.grid {

	li {
	
		@include inlineBlock;
		@include width(128px);
		margin: 8px;
	
	}

}